@page "/viewdogs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FinalProject.Models
@using FinalProject.Data

<!-- Link to Google Fonts for a different font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<!-- Welcome Header Section -->
<div class="welcome-container text-center mt-5">
    <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700;">Adoptable Dogs</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="@dog.ImageUrl" class="card-img-top" alt="@dog.Name">
                <div class="card-body">
                    <h5 class="card-title">@dog.Name</h5>
                    <a href="@dog.ProfileUrl" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private DogProfile dog = new DogProfile
        {
            Name = "Buddy",
            ImageUrl = "dog1.jpg", // Replace with a real image URL
            ProfileUrl = "/profile/buddy"
        };
}
